{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ profile_image }}" alt="" class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!--Form Section-->
        <form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<legend class="border-bottom mb-4">Account Info</legend>
			<fieldset>
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }}
					{% if form.username.errors %}
						{{ form.username(class="form-control form-controll-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.email.label(class="form-control-label") }}
					{% if form.email.errors %}
						{{ form.email(class="form-control  is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control") }}
					{% endif %}
                </div>
                <div class="form-group">
                    {{ form.profile.label() }}
                    {{ form.profile(class="form-control-file form-controll-lg") }}
                    {% if form.profile.errors %}
                        {% for error in form.profile.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
				{{ form.cancel(class="btn btn-outline-warning")}}
			</div>
		</form>
    </div>
{% endblock content %}

{% block sidebar %}
    <!-- Search Widget -->
    <div class="card my-2">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
{% endblock sidebar %}