{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ profile_image }}" alt="" class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebar %}
    <!-- Search Widget -->
    <div class="card my-2">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
{% endblock sidebar %}