{% extends 'layout.html' %}
{% block content %}
    <div class="content-section mt-3">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profiles/' + post.author.image_file) }}" alt="">
        <div class="media-body">
            <!-- Title -->
            <h1 class="artile-title">
                {{ post.title }}
            </h1>
            
            <!-- Author -->
            <p class="lead">
                by <a href="{{ url_for('user.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            </p>
            <hr>
            <!-- Date/Time -->
            <p class="text-muted">Posted on {{ post.date_posted.strftime('%Y-%m-%d') }} at {{ post.date_posted.strftime('%H:%M:%S') }}</p>
            <hr>
            {% if current_user == post.author %}
                <div>
                    <a href="{{ url_for('post.update_post', post_id = post.id) }}" class="btn btn-secondary btn-sm m-1">Update Post</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
                <hr>
            {% endif %}
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/620x150" alt="">
            <hr>
            <!-- Post Content -->
            <p class="lead">{{ post.content }}</p>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('post.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" name="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebar %}
    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
    </div>
{% endblock sidebar %}