{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3 article-title">Posts by {{ user.username }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
        <div class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profiles/' + post.author.image_file) }}" alt="">
            <div class="media-body">
                <!-- Title -->
                <h1>
                    <a href="{{ url_for('post', post_id=post.id) }}" class="article-title">
                        {{ post.title }}
                    </a>
                </h1>
                
                <!-- Author -->
                <p class="lead">
                    by <a href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                </p>
                <hr>
                
                <!-- Date/Time -->
                <p class="text-muted">Posted on {{ post.date_posted.strftime('%Y-%m-%d') }} at {{ post.date_posted.strftime('%H:%M:%S') }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="http://placehold.it/620x150" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{ post.content }}</p>
            </div>
        </div>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a href="{{ url_for('user_posts', username=user.username, page=page_num) }}" class="btn btn-info mr-1">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('user_posts', username=user.username, page=page_num) }}" class="btn btn-outline-info mr-1">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}

{% block sidebar %}
    <!-- Search Widget -->
    <div class="card my-2">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">HTML</a>
                        </li>
                        <li>
                            <a href="#">Freebies</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">Tutorials</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
    </div>
{% endblock sidebar %}
